@model IEnumerable<SevenSeas.adbCruiseRouteSchedule>

@{
    ViewBag.Title = "Cruise Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<h2>Route Name: @ViewBag.RouteName</h2>

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rank)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adbCruise.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adbPort.PortName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adbRoute.RouteName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Rank)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adbCruise.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adbPort.PortName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adbRoute.RouteName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SequenceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SequenceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SequenceID })
        </td>
    </tr>
}

</table>
