@model IEnumerable<SevenSeas.adbCruise>

@{
    ViewBag.Title = "listCruises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>listCruises</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReturnDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adbRoute.RouteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adbShip.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReturnDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adbRoute.RouteName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adbShip.Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.CruiseID }) |
            @Html.ActionLink("Details", "cruiseDetails", new { id = item.CruiseID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CruiseID }) |*@
            @Html.ActionLink("View Passengers", "ListOfPassengers", new { id = item.CruiseID, @controller = "PassengerTracking" }) | 
            @Html.ActionLink("Add Passenger", "AddPassengerToCruise", new { id = item.CruiseID})
        </td>
    </tr>
}

</table>
